<div class="container my-3">
  <div class="row">
    <div class="col-12">
      <h1>공양 목록</h1>
      <div class="my-3 row justify-content-between">
        <div class="col-auto">
          <div class="text-xl text-secondary">
            총 <%= @offerings.total_count %>건이 검색되었습니다.
          </div>
        </div>
        <div class="col-6">
          <%= form_with url: offerings_path, method: :get, local: true, html: {class: "row"} do |f| %>
            <%= select_tag :temple_id, options_for_select(Temple.order(:position).map{|temple| [temple.place, temple.id]}, params[:temple_id]), 
            { include_blank: "전체 분원", onchange: "this.form.submit();", class: "form-control col-md-3 ml-5 mr-3" } %>
            <%= f.text_field :q, value: params[:q], placeholder: "신청자/복위자/입금자", class: "form-control col-md-5 mr-3" %>
            <%= f.submit '공양 검색', class: 'btn btn-success btn-block col-md-2' %>
          <% end %>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">분원</th>
            <th scope="col">부처님</th>
            <th scope="col">신청자(신도)</th>
            <th scope="col">복위자</th>
            <th scope="col">생년(간지)</th>
            <th scope="col">공양일</th>
            <th colspan="2"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @offerings.each do |offering| %>
            <tr>
              <td><%= offering.temple&.place %></td>
              <td><%= offering.buddha&.name %></td>
              <td><%= offering.believer&.name %></td>
              <td><%= offering.offerorName %></td>
              <td><%= offering.offerorBirthyear %></td>
              <td><%= offering.offerDay %></td>
              <td><%= link_to 'Show', offering %></td>
              <td><%= link_to 'Edit', edit_offering_path(offering) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-auto-mx-auto">
      <%= paginate @offerings %>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4 text-right">
      <%= link_to 'New Offering', new_offering_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>