<div class="container my-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><%= t('.sign_up') %></h2>
          <hr>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :temple_id %>
              <%= f.select :temple_id, options_for_select( Temple.order(:position).map{|temple|[temple.place, temple.id]} ), 
                  { include_blank: "분원을 선택해주세요" }, { class: "form-control", required: true } %>
            </div>

            <div class="form-group">
              <%= f.label :profile %>
              <%= f.file_field :profile, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :gender %>              
              <%= f.select :gender, User.genders.keys.to_a, { include_blank: "성별 선택" }, { class: "form-control" } %>
            </div>

            <div class="form-group">
              <%= f.label :dharmaName %>
              <%= f.text_field :dharmaName, class: "form-control" %>            
            </div>

            <div class="form-group">
              <%= f.label :phone %>
              <%= f.text_field :phone, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :birthday %>
              <%= f.date_select :birthday, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :ganzhi %>
              <%= f.text_field :ganzhi, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :registerday %>
              <%= f.date_select :registerday, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :addressProvince %>
              <%= f.select :addressProvince, User.addressProvinces.keys.to_a, { include_blank: "지역 선택"}, { class: "form-control"} %>
            </div>

            <div class="form-group">
              <%= f.label :addressDetail %>
              <%= f.text_field :addressDetail, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :remarks %>
              <%= f.text_area :remarks, class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit t('.sign_up'), class: "btn btn-primary btn-block" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

