<%= form_with(model: family, local: true, class: "my-3") do |form| %>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
        <% family.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :main_believer_id %><br>
    <% if form.object.new_record? %>
      <%= form.select :main_believer_id,[], { include_blank: "신도 이름으로 검색해주세요" }, id: "main-believer", required: true, class: "select-believer form-control" %>
    <% else %>      
      <%= form.select :main_believer_id, [[ @main_believer.name, form.object.main_believer_id]], {}, id: "main-believer", required: true, class: "select-believer form-control" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: "family-name", class: "form-control" %>
  </div>

  <h5 class="mt-3">가족 명단</h5>
  <div id="family_members">
    <%= form.fields_for :family_members do |member| %>
      <%= render "families/family_member_fields", f: member %>
    <% end %>
    <div class="links mb-3">
      <i class="fa fa-plus-circle">
        <%= link_to_add_association '구성원 추가', form, :family_members %>
      </i>
    </div>  
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<script type="text/javascript">

  $('.select-believer').select2({
    ajax: {
      url: "/believers.json", //URL for searching believers
      dataType: "json",
      delay: 200,
      data: function(params) {
        return {
          search: params.term, //params send to believers controller
        };
      },
      processResults: function(data){
        return {
          results: data
        };
      },
      cache: true
    },
  });

  $(document).ready(function(){
    $('#main-believer').on('change', function(){
      var believerName = $('#main-believer option:selected').text();      
      $('#family-name').val(believerName + '의 가족');
    });
  });

</script>