<%= form_with(model: pray, local: true, class: "my-3") do |form| %>
  <% if pray.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pray.errors.count, "error") %> prohibited this pray from being saved:</h2>

      <ul>
        <% pray.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :temple_id %>
    <%= form.select :temple_id, options_for_select( Temple.order(:position).map{|temple|[temple.place, temple.id]}, form.object.temple_id ), 
      	{ include_blank: "분원을 선택해주세요" }, { required: true, class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :buddha_id %>
    <%= form.select :buddha_id, options_for_select(Buddha.order(:position).map{|buddha|[buddha.name, buddha.id]}, form.object.buddha_id), 
    { include_blank: "어느 부처님께 기도하시겠습니까?" }, { required: true, class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :believer_id %>
    <%= form.select :believer_id, options_for_select(Believer.all.map{|believer|[believer.name, believer.id]}, form.object.believer_id),
    { include_blank: "신청자(신도)를 입력해주세요" }, { required: true, class: "form-control" } %>
  </div>

  <%= form.fields_for :pray_requests, @pray.pray_requests.build do |r| %>
    <div class="form-group">
      <%= r.label :request %>      
      <%= r.text_area :request, placeholder: @pray.pray_requests.first.request, class: "form-control" %>
      <%= r.hidden_field :requestDay, value: Date.today %>
    </div>
  <% end %>

  <h5 class="mt-5">*입재자 정보</h5><hr>
  <div class="form-group">
    <%= form.label :prayerName %>
    <%= form.text_field :prayerName, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :prayerBirthyear %>
    <%= form.text_field :prayerBirthyear, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :prayerRelation %>
    <%= form.text_field :prayerRelation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :prayerAddress %>
    <%= form.text_field :prayerAddress, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :prayerPhone %>
    <%= form.text_field :prayerPhone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :startDay %>
    <%= form.date_field :startDay, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :finishDay %>
    <%= form.date_field :finishDay, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :fullPayDay %>
    <%= form.date_field :fullPayDay, class: "form-control" %>
  </div>

  <% if form.object.new_record? %>
    <h5 class="mt-5">*첫 기도비 입금 내역</h5><hr>
    <%= form.fields_for :pray_donations, @pray.pray_donations.build do |d| %>
      <div class="form-group">
        <%= d.label :donation %>
        <%= d.number_field :donation, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= d.label :donateDay %>
        <%= d.date_field :donateDay, class: "form-control" %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :donator %>
    <%= form.text_field :donator, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :remarks %>
    <%= form.text_area :remarks, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>
