<div class="container my-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card" style="border: none;">
        <div class="card-body">
          <h3 class="card-title">입재 기도</h3>
          <hr>
          <div class="row">
            <div class="col-12">
              <% if @pray.believer && @pray.believer.profile.present? %>
                <%= link_to @pray.believer.profile.url, target: "_blank" do %>
                  <%= wicked_pdf_image_tag @pray.believer.profile_path, width: "225", height: "225" %>
                <% end %>
              <% end %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="col">부처님</th>
                    <td><%= @pray.buddha&.name %></td>
                  </tr>
                  <tr>
                    <th scope="col">접수분원</th>
                    <td><%= @pray.temple&.place %></td>
                  </tr>
                  <tr>
                    <th scope="col">신청자</th>
                    <td><%= @pray.believer&.name %></td>
                  </tr>
                  <tr>
                    <th scope="col">입재자</th>
                    <td><%= @pray.prayerName %></td>
                  </tr>
                  <tr>
                    <th scope="col">입재자 생년</th>
                    <td><%= @pray.prayerBirthyear %></td>
                  </tr>
                  <tr>
                    <th scope="col">신청자와의 관계</th>
                    <td><%= @pray.prayerRelation %></td>
                  </tr>
                  <tr>
                    <th scope="col">입재자 연락처</th>
                    <td><%= @pray.prayerPhone %></td>
                  </tr>
                  <tr>
                    <th scope="col">입재자 주소</th>
                    <td><%= @pray.prayerAddress %></td>
                  </tr>
                  <tr>
                    <th scope="col">입금자</th>
                    <td><%= @pray.donator %></td>
                  </tr>
                  <tr>
                    <th scope="col">입재일</th>
                    <td><%= @pray.startDay %></td>
                  </tr>
                  <tr>
                    <th scope="col">회향(예정)일</th>
                    <td><%= @pray.finishDay %></td>
                  </tr>
                  <tr>
                    <th scope="col">완납일</th>
                    <td><%= @pray.fullPayDay %></td>
                  </tr>
                  <tr>
                    <th scope="col">비고</th>
                    <td><%= @pray.remarks %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>