<p id="notice"><%= notice %></p>

<h1>Believers</h1>

<table>
  <thead>
    <tr>
      <th>Temple</th>
      <th>Ganzhi</th>
      <th>Dharmaname</th>
      <th>Name</th>
      <th>Phone</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @believers.each do |believer| %>
      <tr>
        <td><%= believer.temple.present? ? believer.temple.place : "분원없음" %></td>
        <td><%= believer.ganzhi %></td>
        <td><%= believer.dharmaName %></td>
        <td><%= believer.name %></td>
        <td><%= believer.phone %></td>
        <td><%= link_to 'Show', believer %></td>
        <td><%= link_to 'Edit', edit_believer_path(believer) %></td>
        <td><%= link_to 'Destroy', believer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Believer', new_believer_path, class: "btn btn-primary" %>
