<div class="container my-3">
  <div class="row">
    <div class="col-12">
      <h1>신도 목록</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Temple</th>
            <th scope="col">Profile</th>
            <th scope="col">Ganzhi</th>
            <th scope="col">Dharmaname</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>      
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @believers.each do |believer| %>
            <tr>
              <td><%= believer.temple.present? ? believer.temple.place : "분원없음" %></td>
              <td><%= image_tag believer.profile_path(:thumb), width: 96, height: 96 %></td>
              <td><%= believer.ganzhi %></td>
              <td><%= believer.dharmaName %></td>
              <td><%= believer.name %></td>
              <td><%= believer.phone %></td>
              <td><%= link_to 'Show', believer %></td>
              <td><%= link_to 'Edit', edit_believer_path(believer) %></td>
              <td><%= link_to 'Destroy', believer, method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4 text-right">
      <%= link_to '신도 새로 입력', new_believer_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
