<p id="notice"><%= notice %></p>

<p>
  <strong>Temple:</strong>
  <%= @believer.temple_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @believer.name %>
</p>

<p>
  <strong>Addressprovince:</strong>
  <%= @believer.addressProvince %>
</p>

<p>
  <strong>Addressdetail:</strong>
  <%= @believer.addressDetail %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @believer.phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @believer.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @believer.birthday %>
</p>

<p>
  <strong>Registerday:</strong>
  <%= @believer.registerday %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @believer.remarks %>
</p>

<p>
  <strong>Ganzhi:</strong>
  <%= @believer.ganzhi %>
</p>

<p>
  <strong>Dharmaname:</strong>
  <%= @believer.dharmaName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @believer.email %>
</p>

<%= link_to 'Edit', edit_believer_path(@believer) %> |
<%= link_to 'Back', believers_path %>
