<div class="container my-3">
  <div class="row">
    <div class="col-12">
      <div class="card" style="border: none;">
        <div class="card-body">
          <h3 class="card-title">신도 정보</h3>
          <hr>
          <div class="row">
            <div class="col-12">
              <%= wicked_pdf_image_tag @believer.profile_path, width: "225", height: "225" %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="col">생년</th>
                    <td><%= @believer.ganzhi %></td>
                  </tr>
                  <tr>
                    <th scope="col">이름</th>
                    <td><%= @believer.name %></td>
                  </tr>
                  <tr>
                    <th scope="col">연락처</th>
                    <td><%= @believer.phone %></td>
                  </tr>
                  <tr>
                    <th scope="col">소속분원</th>                    
                    <td><%= @believer.temple.place %></td>
                  </tr>
                  <tr>
                    <th scope="col">성별</th>
                    <td><%= @believer.enum_ko(:gender) %></td>
                  </tr>                  
                  <tr>
                    <th scope="col">지역</th>
                    <td><%= @believer.enum_ko(:addressProvince) %></td>
                  </tr>
                  <tr>
                    <th scope="col">상세주소</th>
                    <td><%= @believer.addressDetail %></td>
                  </tr>
                  <tr>
                    <th scope="col">이메일</th>
                    <td><%= @believer.email %></td>
                  </tr>
                  <tr>
                    <th scope="col">생년월일</th>
                    <td><%= @believer.birthday %></td>
                  </tr>
                  <tr>
                    <th scope="col">등록일</th>
                    <td><%= @believer.registerday %></td>
                  </tr>
                  <tr>
                    <th scope="col">비고</th>
                    <td><%= @believer.remarks %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>



